<div class="container mx-auto p-5 max-w-screen-lg relative">
    <mat-spinner *ngIf="isLoading" color="primary" class="absolute inset-0 m-auto w-16 h-16"></mat-spinner>
  
    <div *ngIf="!isLoading && product" class="space-y-6">
      <mat-card class="shadow-lg">
        <mat-card-header>
          <mat-card-title class="text-2xl font-semibold">{{ product.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="product.image" alt="{{ product.title }}" class="object-contain h-64 w-full" />
        <mat-card-content class="space-y-4">
          <p class="text-lg text-gray-800 font-medium">
            <span class="text-gray-600">Price:</span> ${{ product.price }}
          </p>
  
          <p class="text-lg text-gray-800">
            <span class="text-gray-600">Category:</span> {{ product.category }}
          </p>
  
          <p class="text-gray-700">
            <span class="text-gray-600">Description:</span> {{ product.description }}
          </p>
  
          <div class="flex items-center space-x-2">
            <span class="text-gray-600">Rating:</span>
            <mat-icon class="text-yellow-500">star</mat-icon>
            <span>{{ product.rating.rate }} ({{ product.rating.count }} reviews)</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  
    <p *ngIf="!isLoading && !product" class="text-red-500 text-center mt-4">Product not found.</p>
  </div>
  